# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. Seaborn

Table of Data Science tools : 
|Data Science Tools|
| ------ | 
| Jupyter Notebooks | 
|RStudio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [33]:
#This a simple arithmetic expression to mutiply

In [35]:
ari_calc=(3*4)+5
print(ari_calc)

17

In [37]:
#This will convert 200 minutes to hours by diving by 60

In [41]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author 
Kevin